# New Movie Studio Recommendations

**Authors:** Janice Teguh
***

## Overview

This project analyzes the recent landscape and trends of the movie industry to form recommendations for Microsoft's new movie studio. Descriptive analysis of box office data shows that there are correlations between the performance of a movie release with seasonality, popularity, and genre. Microsoft can use this analysis to adjust their planning of first movie release to improve chances of getting a box office/ high domestic and foreign gross.

## Business Problem

Microsoft is looking to expand their business into the movie industry, but lack the knowledge of the recent trends or landscape. This knowledge is essential for forming a strategy for a successful first movie release. Using box office and ratings data from The Numbers, Box Office Mojo, Rotten Tomatoes, TheMovieDB, and IMDb, I describe correlations between seasonality, popularity, and genre of a movie with its performance in box office - which Microsoft can use in planning for their first movie.

## Data Understanding

- Data from The Numbers consists of movie id, release date, titles, production budget, domestic gross, worldwide gross
- Data from Box Office Mojo consists of movie title, studio, domestic gross, and foreign gross
- Data from Rotten Tomatoes (Info) consists of movie id, synopsis, rating, genre, director, writer, theater date, box office, runtime, studio
- Data from Rotten Tomatoes (Review) consists of movie id, review, rating, fresh, critic, top_critic, publisher, date
- Data from The Movie Database consists of genre ids, movie id, original language, original title, popularity, release date, title, vote average, vote count
- Data from IMDb consists of many tables consisting of movie title, number of votes, average rating, regions the movie was released in, and people involved in the movie production.

The properties that I will focus on for this analysis are release season, domestic gross, foreign and worldwide gross, genre,  box office, and audience reception.

In [1]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
import sqlite3

plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)

%matplotlib inline

In [2]:
#load data from The Numbers
movie_budgets = pd.read_csv('./Data/tn.movie_budgets.csv')
movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [3]:
#load data from Box Office Mojo
movie_gross = pd.read_csv('./Data/bom.movie_gross.csv')
movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [4]:
#load data from Rotten Tomatoes movie info and reviews
movie_info = pd.read_csv('./Data/rt.movie_info.tsv', sep='\t')
rt_reviews = pd.read_csv('./Data/rt.reviews.tsv', sep='\t', encoding='windows-1252')

#for one movie id, there are a couple reviews. Need to merge reviews before merging rt_reviews with movie info

In [5]:
movie_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [6]:
rt_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

In [7]:
#load data from The Movie Database
tmdb_movies = pd.read_csv('./Data/tmdb.movies.csv')

In [8]:
tmdb_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [9]:
#opening im.db
conn = sqlite3.connect('./Data/im.db')
cursor = conn.cursor()

#checking all tables are imported from im.db
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)

Empty DataFrame
Columns: [name]
Index: []

## Data Preparation

In [10]:
#check for duplicates, resulting in no duplicates
movie_budgets = movie_budgets.loc[~movie_budgets.duplicated()]
movie_gross = movie_gross.loc[~movie_gross.duplicated()]
movie_info = movie_info.loc[~movie_info.duplicated()]
rt_reviews = rt_reviews.loc[~rt_reviews.duplicated()]
tmdb_movies = tmdb_movies.loc[~tmdb_movies.duplicated()]

In [11]:
#preparing_movie_budgets
#Set data type as date and time, convert data as required
movie_budgets["release_date"] = pd.to_datetime(movie_budgets["release_date"]) 
movie_budgets["year"] = movie_budgets["release_date"].dt.year.astype(int)
movie_budgets["month"] = movie_budgets["release_date"].dt.month.astype(int)

#rename movie column to title
movie_budgets = movie_budgets.rename(columns={"movie":"title"})
movie_budgets

,id,release_date,title,production_budget,domestic_gross,worldwide_gross,year,month
0,1,2009-12-18,Avatar,"$425,000,000","$760,507,625","$2,776,345,279",2009,12
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011,5
2,3,2019-06-07,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019,6
3,4,2015-05-01,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",2015,5
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",2017,12
...,...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"$7,000",$0,$0,2018,12
5778,79,1999-04-02,Following,"$6,000","$48,482","$240,495",1999,4
5779,80,2005-07-13,Return to the Land of Wonders,"$5,000","$1,338","$1,338",2005,7
5780,81,2015-09-29,A Plague So Pleasant,"$1,400",$0,$0,2015,9
5781,82,2005-08-05,My Date With Drew,"$1,100","$181,041","$181,041",2005,8

In [12]:
#remove $ and comma from currency string
def convert_currency(string):
    string = string.strip('$')
    string = string.replace(',', '')

    return string

#convert any time/date or currency column to int64 dtype
def convert_column(column):
    column = column.map(lambda x: convert_currency(x))
    column = column.astype(float)
    return column

In [13]:
#only run this cell once
movie_budgets["production_budget"] = convert_column(movie_budgets["production_budget"])
movie_budgets["domestic_gross"] = convert_column(movie_budgets["domestic_gross"])
movie_budgets["worldwide_gross"] = convert_column(movie_budgets["worldwide_gross"])

movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5782 entries, 0 to 5781
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   datetime64[ns]
 2   title              5782 non-null   object
 3   production_budget  5782 non-null   float64
 4   domestic_gross     5782 non-null   float64
 5   worldwide_gross    5782 non-null   float64
 6   year               5782 non-null   int64
 7   month              5782 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 406.5+ KB

In [14]:
#no more null values in all the columns
movie_budgets.isna().sum()

id                   0
release_date         0
title                0
production_budget    0
domestic_gross       0
worldwide_gross      0
year                 0
month                0
dtype: int64

In [15]:
movie_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [16]:
#preparing movie_gross
#there were 1350 NaN values in "Foreign Gross" column (almost 40%) - add value of 500 as outlier
movie_gross['foreign_gross'] = movie_gross['foreign_gross'].fillna(value=500)
movie_gross["foreign_gross"] = [float(str(i).replace(",", "")) for i in movie_gross["foreign_gross"]]

#fill n/a values with median in domestic gross
movie_gross['domestic_gross'] = movie_gross['domestic_gross'].fillna(value=movie_gross['domestic_gross'].median())

#rename N/A studios to "N/A"
movie_gross["studio"] = movie_gross["studio"].fillna(value="N/A")

movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3387 non-null   object
 2   domestic_gross  3387 non-null   float64
 3   foreign_gross   3387 non-null   float64
 4   year            3387 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 158.8+ KB

In [17]:
movie_gross.isna().sum()

title             0
studio            0
domestic_gross    0
foreign_gross     0
year              0
dtype: int64

In [18]:
#preparing movie_info
# removed movies that didn't make box office
movie_info = movie_info.dropna(subset=['box_office'])
movie_info.isna().sum()

#remove runtime and theatre date column with N/A values
movie_info = movie_info.dropna(subset=['runtime', "theater_date"])

#drop irrelevant columns
movie_info = movie_info.drop(["dvd_date", "currency"], axis=1)

#filling N/A values in remaining columns with N/A
movie_info["director"] = movie_info["director"].fillna("Unknown")
movie_info["writer"] = movie_info["writer"].fillna("Unknown")
movie_info["studio"] = movie_info["studio"].fillna("Unknown")
movie_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 332 entries, 1 to 1555
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            332 non-null    int64
 1   synopsis      332 non-null    object
 2   rating        332 non-null    object
 3   genre         332 non-null    object
 4   director      332 non-null    object
 5   writer        332 non-null    object
 6   theater_date  332 non-null    object
 7   box_office    332 non-null    object
 8   runtime       332 non-null    object
 9   studio        332 non-null    object
dtypes: int64(1), object(9)
memory usage: 28.5+ KB

In [19]:
#no more null values in movie_info
movie_info.isna().sum()

id              0
synopsis        0
rating          0
genre           0
director        0
writer          0
theater_date    0
box_office      0
runtime         0
studio          0
dtype: int64

In [20]:
movie_info["box_office"] = convert_column(movie_info["box_office"])

In [21]:
#prepare rt_reviews
rt_reviews.dropna(subset=["rating"], inplace=True)
rt_reviews.drop(["critic","publisher"],axis=1, inplace=True)

In [22]:
rt_reviews["review"] = rt_reviews["review"].fillna(value="No written review.")
rt_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40907 entries, 0 to 54431
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          40907 non-null  int64
 1   review      40907 non-null  object
 2   rating      40907 non-null  object
 3   fresh       40907 non-null  object
 4   top_critic  40907 non-null  int64
 5   date        40907 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.2+ MB

In [23]:
#no more null values in rt_reviews
rt_reviews.isna().sum()

id            0
review        0
rating        0
fresh         0
top_critic    0
date          0
dtype: int64

In [24]:
#create singular review number for each movie id in rotten tomatoes
review_letter = {"N":0.1, "R":1, "T":0.1, "F":0.1, "A":1, "B":0.75, "C":0.5, "D":0.25 }

def change(grade):
    if "/" in grade and " " not in grade:
        numbers = grade.split("/")
        result = float(numbers[0]) / float(numbers[1])
        return result
    elif grade[0] in "ABCDNRTF":
        result = float(review_letter[grade[0]])
        return result
    elif "." in grade:
        return round(float(grade))
    else:
        return 3
        
rt_reviews["fresh_number"] = rt_reviews["rating"].apply(lambda x: float(change(x)*10))
rt_reviews

,id,review,rating,fresh,top_critic,date,fresh_number
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,0,"November 10, 2018",6.0
6,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,0,"July 17, 2013",5.0
7,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,0,"April 21, 2013",4.0
11,3,"While not one of Cronenberg's stronger films, ...",B-,fresh,0,"February 3, 2013",7.5
12,3,Robert Pattinson works mighty hard to make Cos...,2/4,rotten,0,"January 15, 2013",5.0
...,...,...,...,...,...,...,...
54424,2000,Dawdles and drags when it should pop; it doesn...,1.5/5,rotten,1,"September 26, 2002",3.0
54428,2000,No written review.,1/5,rotten,0,"September 21, 2005",2.0
54429,2000,No written review.,2/5,rotten,0,"July 17, 2005",4.0
54430,2000,No written review.,2.5/5,rotten,0,"September 7, 2003",5.0
54431,2000,No written review.,3/5,fresh,0,"November 12, 2002",6.0

In [25]:
rt_reviews_numeric = rt_reviews.groupby("id").agg({"fresh_number":"mean"})
rt_reviews_numeric

      fresh_number
id
3         6.369469
5         6.800000
6         5.890244
8         7.575000
10        6.487705
...            ...
1996      6.436957
1997      5.945652
1998      6.000000
1999      6.596774
2000      5.391667

[1116 rows x 1 columns]

In [26]:
#merge rotten tomatoes info with rotten tomatoes reviews
rt_merge = movie_info.merge(rt_reviews_numeric, on="id")
rt_merge.sort_values(by="box_office",ascending=False,inplace=True)
rt_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 294 entries, 145 to 176
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            294 non-null    int64
 1   synopsis      294 non-null    object
 2   rating        294 non-null    object
 3   genre         294 non-null    object
 4   director      294 non-null    object
 5   writer        294 non-null    object
 6   theater_date  294 non-null    object
 7   box_office    294 non-null    float64
 8   runtime       294 non-null    object
 9   studio        294 non-null    object
 10  fresh_number  294 non-null    float64
dtypes: float64(2), int64(1), object(8)
memory usage: 27.6+ KB

In [27]:
rt_merge.isna().sum()

id              0
synopsis        0
rating          0
genre           0
director        0
writer          0
theater_date    0
box_office      0
runtime         0
studio          0
fresh_number    0
dtype: int64

In [28]:
#Set data type as date and time, convert data as required
tmdb_movies["release_date"] = pd.to_datetime(tmdb_movies["release_date"]) 
tmdb_movies["year"] = tmdb_movies["release_date"].dt.year.astype(int)
tmdb_movies["month"] = tmdb_movies["release_date"].dt.month.astype(int)
tmdb_movies.drop(["Unnamed: 0"], axis=1, inplace=True)
tmdb_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26517 entries, 0 to 26516
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          26517 non-null  object
 1   id                 26517 non-null  int64
 2   original_language  26517 non-null  object
 3   original_title     26517 non-null  object
 4   popularity         26517 non-null  float64
 5   release_date       26517 non-null  datetime64[ns]
 6   title              26517 non-null  object
 7   vote_average       26517 non-null  float64
 8   vote_count         26517 non-null  int64
 9   year               26517 non-null  int64
 10  month              26517 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(4)
memory usage: 2.4+ MB

In [29]:
#no more null values in tmdb_movies
tmdb_movies.isna().sum()

genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
year                 0
month                0
dtype: int64

In [30]:
#see table contents from all im.db tables
pd.read_sql("""SELECT * FROM movie_basics""", conn)

DatabaseError: Execution failed on sql 'SELECT * FROM movie_basics': no such table: movie_basics

In [ ]:
pd.read_sql("""SELECT * FROM directors""", conn)

In [ ]:
pd.read_sql("""SELECT * FROM known_for""", conn)

In [ ]:
pd.read_sql("""SELECT * FROM movie_akas""", conn)

In [ ]:
pd.read_sql("""SELECT * FROM movie_ratings""", conn)

In [ ]:
pd.read_sql("""SELECT * FROM persons""", conn)

In [ ]:
pd.read_sql("""SELECT * FROM principals""", conn)

In [ ]:
pd.read_sql("""SELECT * FROM writers""", conn)

In [ ]:
#combine to make movie_summary table for data analysis
#delete movie summary table if already exists
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS movie_summary;")
conn.commit()

# Create a new table with relevant columns using LEFT JOIN

cursor.execute("""CREATE TABLE movie_summary AS
                SELECT 
                    mb.movie_id,
                    mb.genres,
                    mb.primary_title,
                    mr.averagerating,
                    GROUP_CONCAT(DISTINCT ma.region) AS regions,
                    mr.numvotes
                FROM 
                    movie_basics mb
                LEFT JOIN 
                    movie_akas ma ON mb.movie_id = ma.movie_id
                LEFT JOIN 
                    movie_ratings mr ON mb.movie_id = mr.movie_id
                GROUP BY 
                    mb.movie_id, mb.primary_title, mr.numvotes;""")
conn.commit()

In [ ]:
#remove duplicates from imdb - movie summary and keep row with smallest ROWID for each movie ID

cursor.execute("""
DELETE FROM movie_summary
WHERE ROWID NOT IN (SELECT MIN(ROWID) 
                    FROM movie_summary 
                    GROUP BY movie_id);""")
conn.commit()

In [ ]:
#remove rows where numvotes is NULL
cursor.execute("""DELETE FROM movie_summary
WHERE numvotes IS NULL;""")
conn.commit()

In [ ]:
pd.read_sql("""SELECT * FROM movie_summary""", conn)

## Data Modeling

In [ ]:
#With movie_budgets, plot domestic and worldwide gross against month that movie is released
df1 = movie_budgets.groupby(['month'])['domestic_gross'].median().to_frame()
df2 = movie_budgets.groupby(['month'])['worldwide_gross'].median().to_frame()


df1.merge(df2, how="inner", on="month").plot(kind="bar")
plt.xticks(rotation=0)
plt.ylabel("Gross")
plt.xlabel("Month")
plt.title("Median gross for release per month")
plt.savefig("./images/median_gross_for_release_per_month.png", dpi=150)
plt.show()

- Highest median for domestic gross is for releases in June, July, November. Roughly 100-150% more than other months.
- Highest median for worldwide gross is for releases in July, Nov, June. Roughly 150-250% more than other months.

In [ ]:
# Convert month to categorical
movie_budgets["month"] = movie_budgets["month"].astype("category")

# ANOVA for Domestic Gross
domestic_model = smf.ols('domestic_gross ~ C(month)', data=movie_budgets).fit()
domestic_anova = sm.stats.anova_lm(domestic_model, typ=2)

# ANOVA for Worldwide Gross
worldwide_model = smf.ols('worldwide_gross ~ C(month)', data=movie_budgets).fit()
worldwide_anova = sm.stats.anova_lm(worldwide_model, typ=2)

domestic_anova, worldwide_anova

Interpretation
- The ANOVA test indicates that, with 95% confidence, there is statistically significant difference between monthly domestic gross and worldwide gross data, which suggests that release month has an impact on domestic gross and worldwide gross
- Worldwide gross is always bigger than domestic gross no matter the month. Bigger market size.

In [ ]:
#check Pearson's correlation between production budget and audience engagement

# Merge on title
combined_df = pd.merge(movie_budgets, tmdb_movies, on='title', how='inner')
fig = sns.pairplot(combined_df, vars=['production_budget','domestic_gross','worldwide_gross','popularity','vote_count']);
fig.savefig("correlation matrix betweem production budget and audience engagement.png")

In [ ]:
# Analyze correlation
correlations = combined_df[['production_budget', 'domestic_gross', 'worldwide_gross', 'popularity', 'vote_count']].corr();
correlations

There is a strong positive relationship between production budget and worldwide gross (0.79) and between production budget and domestic gross (0.72).

There is a moderate positive relationship between production budget and popularity (0.56) and production budget and vote count (0.6)

There is a very strong positive relationship between domestic gross and worldwide gross (0.94)

There is a moderate positive relationship between popularity and domestic gross (0.53) and moderate positive relationship between popularity and worldwide gross (0.56)

There is a strong positive relationship between vote_count and domestic gross (0.71) and between vote_count and worldwide_gross (0.72)

In [ ]:
#do multi regression analysis without domestic gross 
# because domestic gross and worldwide gross are colinear
# Prepare data for regression
X = combined_df[['production_budget']]
y_vars = combined_df[['worldwide_gross', 'popularity', 'vote_count']]

# Add constant
X = sm.add_constant(X)

# Run separate regressions for each y variable and store summaries
#1 is for worlwide gross, 2 is for popularity, 3 is for vote count
regression_summaries = {}
for y_var in y_vars.columns:
    model = sm.OLS(y_vars[y_var], X).fit()
    regression_summaries[y_var] = model.summary()

regression_summaries

Worldwide gross:
- R-squared = 0.631
- For every \\$1.00 increase in budget > \\$3.43 increase in worldwide gross
- Highly significant (p < 0.001)

Popularity
- R-squared = 0.310
- Budget explains ~31% variance in popularity
- The impact is tiny (8.97e-08) but this is statistically significant (p<0.001)

Vote count
- R-squared = 0.368
- Budget explains ~37% of the variance in vote count
- Effect is also tiny (3.17e-05) but this finding is statistically significant

In [ ]:
#find overall domestic gross median from movie_gross dataset
total_domestic_gross_median = movie_gross["domestic_gross"].median()
total_domestic_gross_median

In [ ]:
#find overall foreign gross median from movie_gross dataset
total_foreign_gross_median = movie_gross["foreign_gross"].median()
total_foreign_gross_median

In [ ]:
#find studios with highest domestic gross
#dataframe of studio domestic gross median of all the movies they have made
studio_domestic_gross = movie_gross.groupby(['studio'])['domestic_gross'].median().to_frame(name = 'studio_domestic_gross').reset_index()

#look for studios which median is higher or equal to total domestic gross median of the whole industry (based on dataset)
studio_doing_well = studio_domestic_gross[studio_domestic_gross["studio_domestic_gross"] >= total_domestic_gross_median]

#number of studios "doing well"
len(studio_doing_well)

In [ ]:
studio_doing_well = studio_doing_well.sort_values(by="studio_domestic_gross").set_index("studio")

In [ ]:
studio_doing_well

In [ ]:
#do above process to find studios with highest foreign gross

#dataframe of studio foreign gross median of all the movies they have made
studio_foreign_gross = movie_gross.groupby(['studio'])['foreign_gross'].median().to_frame(name = 'studio_foreign_gross').reset_index()

#look for studios which median is higher or equal to total foreign gross median of the whole industry (based on dataset)
studio_doing_well_foreign = studio_foreign_gross[studio_foreign_gross["studio_foreign_gross"] >= total_foreign_gross_median]

#number of studios "doing well"
len(studio_doing_well_foreign)

In [ ]:
studio_doing_well_foreign = studio_doing_well_foreign.sort_values(by="studio_foreign_gross", ascending=False).set_index("studio")

In [ ]:
studio_doing_well_foreign

In [ ]:
#combine both dfs
high_earning = studio_doing_well.merge(studio_doing_well_foreign, how="inner", on="studio")
high_earning = high_earning.dropna()
high_earning

In [ ]:
high_earning.info()

In [ ]:
ax = high_earning.plot(kind="barh", figsize=(10,10))
plt.xticks(rotation=0)
plt.ylabel("Studio")
plt.xlabel("Gross")
plt.title("Gross for High-Earning Studios")
plt.savefig("./images/gross_for_high_earning_studios.png", dpi=150)
plt.show()

In [ ]:
#How many movies did HC, GrtIndia, and P/DW released
movie_gross[movie_gross["studio"].isin(["HC","GrtIndia","P/DW"])]

- Foreign gross beating domestic very significantly for HC, GrtIndia, P/DW
- HC and GrtIndia only released one movie in the dataset, but highest foreign gross. May signify that number of movies released doesn't matter, but what matters is the size of the foreign market (Chinese and Indian population globally).

In [ ]:
fig = sns.pairplot(movie_gross, vars=['domestic_gross','foreign_gross'])
fig.savefig("Correlation between domestic gross and foreign gross.png")

In [ ]:
corr_matrix = movie_gross[['domestic_gross','foreign_gross']].corr()
corr_matrix

High domestic gross strongly correlates with high foreign gross (0.79).

In [ ]:
#calculate average box office in rotten tomatoes - merged
box_office_median = rt_merge["box_office"].median()
box_office_median

In [ ]:
#filter rt_merge to only have movies making above the median
rt_merge = rt_merge[rt_merge["box_office"]>=box_office_median]
rt_merge

In [ ]:
rt_merge

In [ ]:
#calculate what genre appears most in box office tops - merged

genre_dict = {}

for genre in rt_merge["genre"]:
    movie_genres = genre.split("|")
    for movie_genre in movie_genres:
        if movie_genre not in genre_dict:
            genre_dict[movie_genre] = 1
        else:
            genre_dict[movie_genre] += 1

box_office_genre = pd.DataFrame.from_dict(genre_dict, orient='index',columns=["number_of_movies"])

df = box_office_genre.sort_values(by="number_of_movies")
df.plot(kind="barh")
plt.xticks(rotation=0)
plt.ylabel("Genre")
plt.xlabel("Number of Movies")
plt.title("What is the Genre in Box Office Hits?")
plt.savefig("./images/genre_in_box_office_hits.png", dpi=300, bbox_inches='tight')
plt.show()

In [ ]:
# Perform ANOVA using statsmodels
anova_model = smf.ols('box_office ~ C(genre)', data=rt_merge).fit()
anova_table = sm.stats.anova_lm(anova_model, typ=2)

anova_table

- Genres that appear in most movies doing well in box office according to Rotten Tomatoes: Comedy, Action and Adventure, Drama.
- ANOVA test shows the differences of box office results for each genre is statistically significant (p<0.001)

In [ ]:
#from merged data
rating_dict = {}

for rating in rt_merge["rating"]:
    if rating not in rating_dict:
            rating_dict[rating] = 1
    else:
            rating_dict[rating] += 1

box_office_rating = pd.DataFrame.from_dict(rating_dict, orient='index',columns=["number_of_movies"])
df = box_office_rating.sort_values(by="number_of_movies", ascending=False)
df.plot(kind="bar")

plt.xticks(rotation=0)
plt.ylabel("Number of movies")
plt.xlabel("Rating")
plt.title("What is the Rating in Box Office Hits?")
plt.savefig("./images/rating_in_box_office_hits.png", dpi=150)
plt.show()

Movies performing above average in box office usually has PG-13 ratings.

In [ ]:
#combo of genres making top box office
ax = movie_info.groupby("genre")["box_office"].median().sort_values().tail(10).plot(kind="barh",figsize=(10,5))
plt.xticks(rotation=0)
plt.ylabel("Genre combos")
plt.xlabel("Box Office")
plt.title("What are Genre Combos in Box Office Hits?")
plt.savefig("./images/genre_combos_in_box_office_hits.png", dpi=300, bbox_inches='tight')
plt.show()

From Rotten Tomatoes, Action and Adventure, Drama, Romance and Science Fiction and Fantasy appear the most in this combo plot

In [ ]:
tmdb_movies = tmdb_movies.sort_values(by="popularity",ascending=False)
tmdb_movies

In [ ]:
genre_dict = {"28":  "Action", "12":  "Adventure", "16":  "Animation", "35":  "Comedy", "80":  "Crime", 
              "99":  "Documentary", "18":  "Drama", "10751":   "Family", "14":  "Fantasy", "36":  "History",
              "27":  "Horror", "10402":   "Music", "9648":    "Mystery", "10749":   "Romance",
              "878": "Science Fiction", "10770":   "TV Movie", "53":  "Thriller", "10752":   "War",
              "37":  "Western"}

In [ ]:
def change_genres(x):
    genres = []
    genre_list = x.strip("]").strip("[").split(",")
    genre_list = [id.strip(" ") for id in genre_list]
    for genre in genre_list:
        if genre in genre_dict:
            genres.append(genre_dict[genre])
        else:
            genres.append("Other")
    return "|".join(genres)

In [ ]:
tmdb_movies["genre"] = tmdb_movies["genre_ids"].apply(lambda x: change_genres(x))

In [ ]:
popular_movies = tmdb_movies[tmdb_movies.popularity >= tmdb_movies["popularity"].mean()]
popular_movies = popular_movies.sort_values(by="popularity", ascending=False)
popular_movies

In [ ]:
#combo of genres making a movie popular
ax = popular_movies.groupby("genre")["popularity"].median().sort_values().tail(10).plot(kind="barh")

plt.xticks(rotation=0)
plt.ylabel("Genre combos")
plt.xlabel("Popularity Score")
plt.title("What are Genre Combos that are Most Popular?")
plt.savefig("./images/most_popular_genre_combos_tmdb.png", dpi=300, bbox_inches='tight')
plt.show()

From TMDB dataset, Action and Adventure, Comedy, Science Fiction, and Drama appear a lot in this combo plot

In [ ]:
#individual genres in popular movies
genre_count = {}
genre_count["Action and Adventure"] = 0

for genre in popular_movies["genre"]:
    movie_genres = genre.split("|")
    for movie_genre in movie_genres:
        if movie_genre in ["Action","Adventure"]:
            genre_count["Action and Adventure"] += 1
        elif movie_genre not in genre_count:
            genre_count[movie_genre] = 1
        else:
            genre_count[movie_genre] += 1

popular_genre = pd.DataFrame.from_dict(genre_count, orient='index',columns=["number_of_movies"])
df = popular_genre.sort_values(by="number_of_movies", ascending=False).head(10)

df.plot(kind="bar", figsize=(13,5))
plt.xticks(rotation=45)
plt.ylabel("Number of Popular Movies")
plt.xlabel("Genre")
plt.title("Most Popular Genre in TMDB")
plt.savefig("./images/most_popular_genre_tmdb.png", dpi=300, bbox_inches='tight')
plt.show()

Individual genres that appear in most popular movies based on TMDB: Comedy, Action and Adventure, Drama

In [ ]:
# Explode the genres to handle individual genre entries per movie
exploded_popular_movies = popular_movies.copy()
exploded_popular_movies['genre'] = exploded_popular_movies['genre'].str.split('|')
exploded_popular_movies = exploded_popular_movies.explode('genre')

# Perform ANOVA on popularity across genres
anova_model_popularity = smf.ols('popularity ~ C(genre)', data=exploded_popular_movies).fit()
anova_table_popularity = sm.stats.anova_lm(anova_model_popularity, typ=2)

anova_table_popularity

ANOVA test indicates statistically significant effect from genre on popularity (p<0.001).

In [ ]:
#load movie_summary table from imdb to analyse data
movie_summary_df = pd.read_sql("SELECT * FROM movie_summary;", conn)

#find top genre combos against numvote
genre_combo_votes = (
    movie_summary_df.groupby('genres')['numvotes']
    .sum()
    .sort_values(ascending=False)
    .head(10)
)

# Plot top 10 genre combinations by total votes
plt.figure(figsize=(10, 6))
genre_combo_votes.plot(kind='bar')
plt.xlabel('Genre Combinations')
plt.ylabel('Total Votes')
plt.title('Top 10 Genre Combinations by Total Votes')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.savefig("./images/top_genre_combos_in_imdb.png", dpi=150)
plt.show()

Most popular genre combinations in IMDB: Action and Adventure, Sci-Fi, Comedy, Drama

In [ ]:
#Split to individual genres
movie_summary_df['genres'] = movie_summary_df['genres'].str.split(',')
exploded_df = movie_summary_df.explode('genres')
exploded_df

In [ ]:
# in this dataset, number of movies in the sample size (based on genres or regions) are not equal
# some sample set has 1 movie, some have a lot more
# find minimum number of movie via effect size

# determine cohen's d to be d=0.2 to be confident that the small differences in average ratings 
# and votes aren't just due to random variation
# 95% confidence and 80% power

from scipy.stats import norm

# Define parameters
z_alpha_2 = norm.ppf(1 - 0.05 / 2)  # two-tailed test, 95% confidence
z_beta = norm.ppf(0.8)  # 80% power

# Effect sizes
effect_sizes = {'Small (d=0.2)': 0.2, 'Medium (d=0.5)': 0.5, 'Large (d=0.8)': 0.8}

# Calculate required sample sizes
sample_sizes = {label: ((z_alpha_2 + z_beta) / d) ** 2 for label, d in effect_sizes.items()}
sample_sizes_df = pd.DataFrame(list(sample_sizes.items()), columns=['Effect Size', 'Minimum Sample Size (per group)'])


sample_sizes_df

In [ ]:
# Apply the filter and aggregation for genres with at least 196 movies
filtered_exploded_df = exploded_df.groupby('genres').filter(lambda x: len(x) >= 196)

# Group by genre and calculate total votes and movie count
total_votes_by_genre = filtered_exploded_df.groupby('genres').agg(
    total_votes=('numvotes', 'sum'),
    movie_count=('movie_id', 'count')
).reset_index()


total_votes_by_genre

In [ ]:
# Sort by total_votes descending
top_genres_by_votes = total_votes_by_genre.sort_values(by='total_votes', ascending=False).head(10)
top_genres_by_votes

In [ ]:
# Create bar plot for top genres by total votes
plt.figure(figsize=(10, 6))
plt.bar(top_genres_by_votes['genres'], top_genres_by_votes['total_votes'])
plt.xlabel('Genres')
plt.ylabel('Total Votes')
plt.title('Top Genres by Total Votes from IMDB')
plt.xticks(rotation=45)
plt.tight_layout()
plt.savefig("./images/top_indv_genres_imdb.png", dpi=150)
plt.show()

Individual genres that appear most popular in IMDB: Drama, Action, Adventure, Comedy

In [ ]:
# Prepare data by filtering only top 10 genres
top_genres = top_genres_by_votes['genres'].tolist()
top_genre_data = exploded_df[exploded_df['genres'].isin(top_genres)]

# Convert genre to categorical
top_genre_data['genres'] = top_genre_data['genres'].astype('category')

# Run OLS model and ANOVA
model = smf.ols('numvotes ~ C(genres)', data=top_genre_data).fit()
anova_results = sm.stats.anova_lm(model, typ=2)

anova_results

The F-statistic suggests strong effect on genre on vote totals.
P < 0.001 so this effect is statistically significant

In [ ]:
#create new pandas df from movie_summary to make region-based analysis
region_summary_df = pd.read_sql("SELECT * FROM movie_summary;", conn)

In [ ]:
# want to analyse movies based on regions where the movie is released in
# Split and explode regions to analyze vote counts by individual region
region_summary_df['regions'] = region_summary_df['regions'].str.split(',')
region_summary_df['region_count'] = region_summary_df['regions'].apply(lambda x: len(x) if isinstance(x, list) else 0)

# Analyze correlation between number of regions and numvotes
region_vote_relation_full = region_summary_df.groupby('region_count').agg(
    average_votes=('numvotes', 'mean'),
    total_votes=('numvotes', 'sum'),
    movie_count=('movie_id', 'count')
).reset_index().sort_values(by='region_count')

region_vote_relation_full

In [ ]:
# Apply minimum sample size threshold of 196 movies per region count group
region_vote_filtered = region_vote_relation_full[region_vote_relation_full['movie_count'] >= 196]
region_vote_filtered

In [ ]:
# Prepare data for plotting
x = region_vote_filtered['region_count']
y = region_vote_filtered['average_votes']

# Fit a linear regression line
coefficients = np.polyfit(x, y, 1)
poly_eq = np.poly1d(coefficients)
y_fit = poly_eq(x)

# Plot scatter and regression line
plt.figure(figsize=(10, 6))
plt.scatter(x, y, label='Average Votes', color='blue')
plt.plot(x, y_fit, label=f'Fit Line: y = {coefficients[0]:.2f}x + {coefficients[1]:.2f}', color='red')
plt.xlabel('Region Count')
plt.ylabel('Average Votes')
plt.title('Average Votes vs. Region Count with Linear Fit')
plt.legend()
plt.grid(True)
plt.tight_layout()
plt.savefig("./Images/Average_votes_vs_region_count_with_best_fit_line.png")
plt.show()

In [ ]:
from scipy.stats import spearmanr

# Filter for region_count groups with sufficient sample size
region_vote_filtered = region_summary_df.groupby('region_count').filter(lambda x: len(x) >= 196)

# Convert region_count to categorical
region_vote_filtered['region_count'] = region_vote_filtered['region_count'].astype('category')

# Run ANOVA using statsmodels
anova_model = smf.ols('numvotes ~ C(region_count)', data=region_vote_filtered).fit()
anova_table = sm.stats.anova_lm(anova_model, typ=2)

# Spearman correlation for comparison
spearman_corr, spearman_p = spearmanr(region_vote_filtered['region_count'].cat.codes, region_vote_filtered['numvotes'])

anova_table
# print(f"ANOVA F-statistic: {anova_stat: .10f} \n"
#       f"ANOVA p-value: {anova_p: .10f}, \n"
#       f"Spearman correlation: {spearman_corr: .10f}, \n"
#       f"Spearman p-value: {spearman_p:.10f}")

In [ ]:
print(f"Spearman correlation: {spearman_corr: .10f}, \n"
      f"Spearman p-value: {spearman_p:.10f}")

- There is statistically significant differences (p<0.001) for number of votes across different region groups
- There is moderate positive correlation between the number of regions a movie is released in and number of votes. As the number of regions increases, number of votes tend to increase

## Evaluation

### Seasonality of movie release success
- Highest domestic gross median for movie releases is for releases in June, July, November. Roughly 100-150% more than other months.
- Highest worldwide gross median for movie releases is for releases in July, Nov, June. Roughly 150-250% more than other months.
- The ANOVA test indicates that, with 95% confidence, there is statistically significant difference between monthly domestic gross and worldwide gross data, which suggests that release month has an impact on domestic gross and worldwide gross.
- This is aligned with an industry phenomenon called "dump months". There are two times of the year when American filmmakers and distributors typically have lower commercial and critical expectations for new theatrical releases. During these periods, domestic audiences are generally smaller compared to the rest of the year. January and February are most often characterized this way, with August and September occasionally included.

### Genre of successful movies

- Genre of movies that consistently appear as most highly-voted or make above average in box offices, are Drama, Comedy, Action and Adventure. This is both true for genre combinations and individual genre analysis.
- ANOVA test on data from IMDB shows large F-statistic, which suggests strong effect from genre on vote total with p<0.001.
- ANOVA test on data from Rotten Tomatoes shows the differences of box office results for each genre is statistically significant (p<0.001)
- ANOVA test on data from TMDB indicates genre has a statistically significant effect on popularity (p<0.001).
- Running data models on dataset from IMDB, Rotten Tomatoes, and TMDB generate similar results, although the users of these sites are quite different, which means that bias has been minimised.

>IMDB:
> - Older audience: Skews to slightly older demographics as IMDbs has been around since the early 1990s.
> - Cinephiles: IMDB only accepts ratings from registered users and it has weighted ratings, so not all votes carry equal weight.

> Rotten Tomatoes:

> - General Audience: Many casual moviegoers use Rotten Tomatoes to get a quick sense of a movie's quality through its aggregate score.
> - Critics and Reviewers: Professional critics often contribute reviews that form the basis of the Tomatometer score.
> - Industry Professionals: Filmmakers, marketers, and studios might use Rotten Tomatoes to gauge critical reception and audience response.

> TMDB (The Movie Database):

> - Film Enthusiasts and Hobbyists: TMDB users often include more dedicated movie and TV show fans who enjoy contributing to and maintaining a comprehensive database.
> - Developers and Tech-Savvy Users: TMDB offers a robust API that developers use to integrate movie and TV show data into their applications.
> - Content Creators and Researchers: People creating content or conducting research might use TMDB for its extensive and detailed information on movies, TV shows, actors, and crew members.

### Investing in production budget and marketing to increase potential for movie success
- Popularity has a quite high correlation to domestic gross and foreign gross (0.53 - 0.55). This means that focusing on marketing is essential to increase popularity of the movie to increase viewing.
- From modelling The Numbers dataset, we see that the worldwide gross is always higher than domestic gross no matter the month. This is because the worldwide market size is always bigger than domestic. Thus, capturing worldwide market should be an objective to increase potential earnings.
- We also see that there is a strong positive relationship between production budget and domestic as well as worldwide gross. Higher production budget may indicate better production quality and more well-known/ qualified talents or crew hired for production.
    > R-squared = 0.631.
    > For every \\$1.00 increase in budget > \\$3.43 increase in worldwide gross (p<0.001)
- From modelling IMDb dataset, we see that: the more regions a movie is released in, the number of votes (positive audience reception) tend to increase.
    > ANOVA test indicates that there is statistically significant differences (p<0.001) for number of votes across different region count groups
- Therefore, in order to capture bigger box office earnings and positive audience reception, Microsoft needs to accommodate medium to large budget, and look at ways to expand market for the movie. For example, release in more regions, foreign cultural references, foreign language subtitles, etc. Large markets include global Chinese and Indian viewers.

## Conclusions

### Recommendations
- Plan to release first movie in June, July, or November
- Pick main genre of movie to be Drama - there can be a combination with Action/ Adventure or Comedy.
- Invest in production budget to improve movie quality, and invest in marketing to boost popularity of movie before and during release. Release in more countries wherever possible. It is worth inserting cultural easter eggs or relatable references to capture large global markets, especially the Chinese and/or Indian populations.

### Future steps
- Determine which movies are more popular and well-liked by audience: standalone vs sequel/ part of franchise.
- Analyse the combinations of people working in successful movies to identify dream team, especially for production and behind-the-scenes.
- Analyse what type of movies didn't do well in box office and why.